/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  min-height: 100vh;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 12px;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 12px;
}


/* General style */

 a {
  color: black;
 }

 a:hover {
  color: black;
 }


/* Navigation styling */

 #top_nav {
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 12px; 
 }

 #bottom_nav {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 12px; 
 }

 #top_left_corner {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 12px;
  min-width: 200px;
 }

 #top_right_corner {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 12px;
  min-width: 200px;
 }

 #bottom_left_corner {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 12px;
  min-width: 200px;
 }

 #bottom_right_corner {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 12px;
  min-width: 200px;
 }

#tag-sidebar {
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 1;
}


/* Pop-up window styling: */

/* About */

.about-page {
  display: none;
  z-index: 1031;
  height: 100vh;
}

.about-background {
  background-color: white;
  opacity: 0.9;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}

.about-content {
  height: 400px;
  top: calc(50% - 200px)
 /* position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;*/
}


/* New Post */

.new-post {
  display: none;
  z-index: 1032;
  height: 100vh;
}

.new-post-background {
  background-color: white;
  opacity: 0.9;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}

.new-post {
  height: 400px;
  top: calc(50% - 200px);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}


/* Add Comment */

.add-comment {
  display: none;
  z-index: 1032;
  height: 100vh;
}

.add-comment-background {
  background-color: white;
  opacity: 0.9;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}

.add-comment {
  height: 400px;
  top: calc(50% - 200px);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}


/* Index styling */

 .post-display {
  margin-bottom: 50px;
  border-color: black;
  border-style: solid;
  border-width: 6px;
  width: 550px;
  box-sizing: border-box;
 }

 .post-header {
  width: 500px;
  margin:auto;
 }

 .image-container {
  position:relative;
  width: 500px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
 }

 .original-image {
  width: 100%;
 }

 .drawn-image {
  position:absolute;
  top: 0px;
  left: 0px;
 }

 .drawing_updated_at {
  display: none;
 }

 .post-content {
  width: 500px;
  margin:auto;
  box-sizing: border-box;
  padding: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 5px 5px #999999;
  margin-top: 10px;
  margin-bottom: 15px;
 }

 .post-comments {
  width: 500px;
  margin:auto;
  box-sizing: border-box;
  padding: 10px;
  border-color: blue;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: blue;
 }

 .comment {
  color: blue;
 }

 .post-tags {
  width: 500px;
  margin:auto;
 }

 .post-button {
  background-color: black;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
 }

 .button_to {
  display: inline-block;
 }

 .post-buttons {
  width: 500px;
  margin:auto;
 }

 .post-tag {
  color: blue;
  text-decoration: none;
  font-size: 115%;
 }

 .post-tag:hover {
  color: blue;
  text-decoration: underline;
  font-size: 115%;
 }



/* Edit page styling */


/*.edit-post-display {
  margin-left: 300px;
}*/

.edit-post-tags {
  margin-bottom: 20px;
}

#draw {
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 2000;
  width: auto;
  height: auto;
  background-color: transparent;
}

#image_to_draw {
  position: fixed;
  top: 100;
  left: 100;
}

#pencil-picker {
  position: relative;
  padding-top: 400px;
}

#result {
  width: 400px;
  height: 400px;
}


#post-id {
  display: none;
}




